

<div class="formContainer" data-token="{{token}}">
    <h1>Set a new password</h1>
    <form class="loginForm">
        <input id="txtPassword" type="password" name="password" placeholder="Please enter your new password" required>
        <input id="txtConfirmPassword" type="password" name="ConfirmPassword" placeholder="Please confirm your Password" required>
        <button id="btnRegister" type="button">Set new password</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module">
    let pass = document.getElementById('txtPassword');
    let pass2 = document.getElementById('txtConfirmPassword');
    let btn = document.getElementById('btnRegister');
    let formContainer = document.querySelector(".formContainer");
    let url="";
    let token = formContainer.getAttribute('data-token');

    btn.addEventListener("click", async(e)=>{
        e.preventDefault();
        if(pass.value==pass2.value){
            const data = {
                token,
                newPassword : pass.value
            }
            const opts = {
                method : "POST",
                headers : {"Content-Type" : "application/json"},
                body : JSON.stringify(data)
            }
            let response = await fetch("/api/sessions/confirmnewpassword", opts);
            response = await response.json()
            Swal.fire({
                position: "top-end",
                title: `${response.message}`,
                showConfirmButton: false,
                timer: 1800
            });
            setTimeout(()=>{window.location.replace('/')}, 1800);
        }else{
            Swal.fire({
                position: "top-end",
                title: "Passwords don't match.",
                showConfirmButton: false,
                timer: 1800
            });
        }
    })
    
</script>