

<div class="formContainer">
    <h1>Password Reset</h1>
    <form class="loginForm">
        <input id="txtUserName" type="text" name="username" placeholder="Please enter your e-Mail" required>
        <button id="btnRegister">Set new password</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module">
    let email = document.getElementById('txtUserName');
    let btn = document.getElementById('btnRegister');
    let url="";
    btn.addEventListener("click", async(e)=>{
        e.preventDefault();
        if(email.value!= ""){
            const data = {
                email: email.value
            }
            const opts = {
                method : "POST",
                headers : {"Content-Type" : "application/json"},
                body : JSON.stringify(data)
            }
            await fetch("/api/sessions/forgotpassword", opts);
            Swal.fire({
                position: "top-end",
                title: `Password Reset Link has been sent to ${email.value}`,
                showConfirmButton: false,
                timer: 1800
            });
            email.value="";
        }else{
            Swal.fire({
                position: "top-end",
                title: `e-Mail is mandatory.`,
                showConfirmButton: false,
                timer: 1800
            });
        }
    })
    
</script>