
<div class="formContainer">
    <h1>Register</h1>
    <form class="loginForm">
        <input id="txtName" type="text" name="name" placeholder="Please enter your name" required>
        <input id="txtLastName" type="text" name="lastName" placeholder="Please enter your last name" required>
        <input id="txtUserName" type="text" name="username" placeholder="Please enter your e-Mail" required>
        <input id="txtPassword" type="password" name="password" placeholder="Please enter your password" required>
        <input id="txtConfirmPassword" type="password" name="ConfirmPassword" placeholder="Please confirm your Password" required>
        <button id="btnRegister">Register</button>
    </form>
    <p>Already have an account? <span><a href="/login">Login</a></span> </p>
    <div id="googleLoginSection">
        <form action="/api/sessions/google">
            <button type="submit" id="btnGoogleRegister" class="login-with-google-btn" >
                Register with Google
            </button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module">
    let url = ''
    let name = document.getElementById('txtName');
    let lastName = document.getElementById('txtLastName');
    let username = document.getElementById('txtUserName');
    let password = document.getElementById('txtPassword');
    let confPassword = document.getElementById('txtConfirmPassword');
    let btnRegister = document.getElementById('btnRegister');
    let btnGoogleLogin = document.getElementById('btnGoogleRegister');
    

    btnRegister.addEventListener('click',async(e)=>{
        e.preventDefault();
        try{
            if(name.value !="" && lastName.value !="" && username.value !="" && password.value !="" && confPassword.value !=""){
                if(password.value==confPassword.value){
                    const data = {
                        firstName: name.value,
                        lastName : lastName.value,
                        email: username.value,
                        password: password.value
                    }
                    const opts = {
                        method : "POST",
                        headers : {"Content-Type" : "application/json"},
                        body : JSON.stringify(data)
                    }
                    let response = await fetch("/api/sessions/register", opts);
                    let responseStatus = response.status;
                    response = await response.json();
                    Swal.fire({
                        position: "top-end",
                        title: `${response.message}`,
                        showConfirmButton: false,
                        timer: 1800
                    });
                    if(responseStatus==201){
                        setTimeout(()=>{window.location.replace('/')}, 1800);
                    }
            }else{
                Swal.fire({
                    position: "top-end",
                    title: "Passwords don't match.",
                    showConfirmButton: false,
                    timer: 1800
                });   
            }
            }else{
                Swal.fire({
                    position: "top-end",
                    title: "Missing mandatory fields.",
                    showConfirmButton: false,
                    timer: 1800
                });
            }
            
            
        }catch(error){
            Swal.fire({
                    position: "top-end",
                    title: "Missing mandatory fields.",
                    showConfirmButton: true,
                    timer: 1800
            });
        }
        
    })

    

</script>